html,body {
    height: 100%;
}

.columns{
    min-height: 64vh;
}

.species-list{
    height: 765px;
    overflow-y: auto;
}

.chartBox {
    height: 600px;
}
.topContBox {
    height: 250px;
    overflow-y: auto;
}

.buttons-list {
    list-style: none;
    padding: 0;
  }
  
  .buttons-list button:hover {
    background-color: #f0f0f0;
  }

