[[extend 'layout.html']]

[[block page_head]]

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

<style>
  [v-cloak] {
    display: none;
  }

  #map {
    height: 450px;
    width: 100%;
  }

  .dropdown {
    position: absolute;
    top: 50px;
    left: 40px;
    width: 100%;
    z-index: 1000;
  }

  .dropdown-content {
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
  }
</style>
[[end]]

<div class="section" id="vue-target" v-cloak>
  <div class="field">
    <div class="field" style="display: flex; align-items: center;">
      <label class="label" style="margin-right: 10px;">
        {{ selected_species ? 'Showing sightings for: ' + selected_species.COMMON_NAME : 'Select a species' }}
      </label>
      <button v-if="selected_species" class="button is-warning is-small" style="margin-left: auto;" @click="undo">
        Undo
      </button>
    </div>
    <div class="control">
      <input class="input" type="text" v-model="searched" @keydown.enter="updateSelectedSpecies"
        placeholder="Enter species name" />

      <div class="dropdown is-active" v-if="filteredSpecies.length > 0">
        <div class="dropdown-content">
          <a class="dropdown-item" v-for="species in filteredSpecies" @click="selectSpecies(species)">
            {{ species.COMMON_NAME }}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="map"></div>

  <div class="is-flex is-justify-content-space-between is-align-items-center mt-2">
    <div>
      <!-- Start Drawing Button -->
      <button class="button is-success mr-3" @click="handleDrawingClick" :disabled="handleDrawing || is_selecting">
        <span v-if="is_drawing">Go to Location</span>
        <span v-else>Start Drawing</span>
      </button>

      <!-- Select Location Button -->
      <button class="button is-info mr-3" @click="handleSelectingClick" :disabled="handleSelecting || is_drawing">
        <span v-if="is_selecting">Create Checklist</span>
        <span v-else>Select Location</span>
      </button>
    </div>

    <!-- Clear Button, aligned to the right -->
    <button class="button is-danger" @click="clearMap" v-if="is_drawing || is_selecting">
      Clear
    </button>
  </div>

  <p v-if="is_drawing" class="mt-2">
    Draw the polygon clicking to create vertices and finish by clicking go to location.
  </p>
  <p v-if="is_selecting" class="mt-2">
    Click on the map to select a location and finish by clicking 'Create Checklist'.
  </p>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let checklist_url = "[[=XML(checklist_url)]]";
  let location_url = "[[=XML(location_url)]]";
  let load_species_url = "[[=XML(load_species_url)]]";
  let find_locations_in_range_url = "[[=XML(find_locations_in_range_url)]]";
  let save_user_polygon_url = "[[=XML(save_user_polygon_url)]]";
  let save_user_point_url = "[[=XML(save_user_point_url)]]"
</script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.heat/dist/leaflet-heat.js"></script>
<script src="js/index.js"></script>

[[end]]