[[extend 'layout.html']]

<link rel="stylesheet" href="../static/css/location.css">

<style>
[v-cloak] {
     display: none;
}
</style>

<div class="section" id="app" v-cloak>
  

  <div class="container">
    
    <div class="columns">
      <!-- Sidebar -->
      <div class="column is-one-quarter">
        <div class="box has-text-black">
          <p class="has-text-centered"><strong></strong>Total lists, total sightings</p>
          <p class="has-text-centered"> <strong>{{ totalLists }}, {{ totalSightings }}</strong> </p>
        </div>

        <div class="box species-list">
          <p><strong>Species</strong></p>
          <ul class="buttons-list">
            <li v-for="(species, index) in speciesList" :key="index">
              <button
                :class="[
                  'button',
                  'is-fullwidth',
                  'mb-2',
                  'has-text-left',
                  species === selectedSpecies ? 'is-primary' : 'is-light'
                ]"
                @click="debouncedLoadSpeciesChart(species)"
              >
                {{ species }}
              </button>
            </li>
          </ul>
        </div>

      </div>

      <!-- Main Content -->
      <div class="column">
        <!-- Chart Area -->
        <div class="box chartBox">
          <p class="has-text-centered"><strong>{{selectedSpecies}}</strong></p>
          <canvas id="myChart"></canvas>
        </div>

        <!-- Top Contributors -->
        <div class="box topContBox">
          <p><strong>Top Contributors</strong></p>
          <div class="content">
              <ol>
                  <li v-for="contributor in topContributors" :key="contributor.observer_id">
                      Observer {{ contributor.observer_id }} 
                      <span class="tag is-info is-light">
                          {{ contributor.count }} checklists
                      </span>
                  </li>
              </ol>
          </div>
      </div>

      </div>
    </div>
  </div>
</div>

[[block page_scripts]]
[[block footer]]
<!-- Loads the index-specific js for Vue -->
<script>
  let load_user_polygon_url = "[[=XML(load_user_polygon_url)]]";
  let find_locations_in_range_url = "[[=XML(find_locations_in_range_url)]]";
  let get_sightings_for_checklist_url = "[[=XML(get_sightings_for_checklist_url)]]";
  let get_species_sightings_over_time_url = "[[=XML(get_species_sightings_over_time_url)]]";
  let get_top_contributors_url = "[[=XML(get_top_contributors_url)]]";
  let index_url = "[[=XML(index_url)]]";
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="js/location.js"></script>

[[end]]
